.buttonExport{
    width: 200px;
    height: 10%;
    float: right;
    margin-top:10px;
}
.export{
    font-size: 23px;
}
.form_detail{
    width: 200px;
    height: 40%;
    float: right;
}
.panel{
    width: 80vw;
    height: 80%;
    float: left;
}
.button_limpiar{

    width: 200px;
    height: 10%;
    float: right;
    margin-top:10px;
}
.button_MoverTodos{

    width: 200px;
    height: 20%;
    float: right;
    margin-top:10px;  
    margin-right: 86px;
}
.leyenda{
    width:  273px;;
    height: 189px;
    float: right;
    margin-right: 1%;
    margin-top:10px;
    border: 1px solid black;

}
.texto_leyenda{
    margin-right: 6%;
    margin-left: 6%;
    font-family: fantasy;
    margin-bottom: -1%;
}
.detail_node{
    visibility: hidden;
}
.botones{
    width: 20%;
    height: 364px;
    float: right;
}