.buttonExport{
    width: 20%;
    height: 10%;
    float: right;
    margin-top: 5%;
}
.export{
    font-size: 23px;
}
.form_detail{
    width: 20%;
    height: 40%;
    float: right;
    margin-top: 10%;
}
.panel{
    width: 80%;
    height: 80%;
    float: left;
}
.button_limpiar{

    width: 20%;
    height: 10%;
    float: right;
    margin-top: 5%;
}
.button_MoverTodos{

    width: 20%;
    height: 20%;
    float: right;
    margin-top: 5%;
}
.leyenda{
    width: 358px;
    height: 189px;
    float: right;
    margin-right: 1%;
    margin-top: 5%;
    border: 1px solid black;

}
.texto_leyenda{
    margin-right: 6%;
    margin-left: 6%;
    font-family: fantasy;
    margin-top: 2%;
    margin-bottom: -1%;
}
.detail_node{
    visibility: hidden;
}