.diagramsPanel {
    width:100%;
    white-space:nowrap;
    height: calc(100vh - 191px);
  }
  
  .diagramDiv {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    width: 80%;
    height: calc(100vh - 191px);
  }
  
  .paletteDiv {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    width: 19%;
    height: calc(100vh - 191px);
  }
  .import{
    margin-top: 9%;
    margin-left: 17%;
    font-size: 15px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }