.diagramsPanel {
    width:100%;
    white-space:nowrap;
    height: calc(100vh - 110px);
  }
  
  .diagramDiv {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    width: 80%;
    height: calc(100vh - 110px);
  }
  
  .paletteDiv {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    width: 19%;
    height: calc(100vh - 110px);
  }
  .import{
    margin-top: 12px;
    margin-left: 78px;
    font-size: 23px;
    width: 100%;
     max-width: 500px;
     box-sizing: border-box;
  }