<div class="diagramsPanel">
    <div #paletteDiv class="paletteDiv"></div>
    <div #diagramDiv class="diagramDiv"></div>
  </div>
  <!--div class="row">
      <div class="col-md-2 col-lg-3">
      <input type="file" accept=".json" class="btn btn-info import" (change)="importNodes($event)">
    </div>
  </div-->
  <!--form #formulario="ngForm" (ngSubmit)="addActivity(formulario)" autocomplete="off">
    <div class="form-group">
      <input type="file" class="form-control btn btn-info" id="img" name="img">
    </div>
    <button type="submit" class="btn btn-info">Subir Archivo</button>
  </form-->